body {
    font-family: Arial;
    background-color: #f40f8ff;
    text-align: center;
}

h1 {
    background-color: lightblue;
    color: white;
    padding: 10px;
}

div {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

progress {
    width: 100%;
}

li {
    background: white;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

iframe {
    margin-top: 20px;
}
